services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: dispose-frontend
    
    ports:
      - "5173:5173"
    
    volumes:
      - ./src:/app/src
      - ./public:/app/public
      - /app/node_modules
    
    environment:
      - VITE_API_URL=http://localhost:8080 # URL do futuro backend
    
    # Comando para rodar o servidor de dev e expor para a rede
    command: npm run dev -- --host